@model ESFE.BusinessLogic.DTOs.CreateUserRequest

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Usuario</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
       
        <div class="form-group col-4">
            <label asp-for="UserName" class="control-label">Nombre</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="UserNickname" class="control-label">Usuario</label>
            <input asp-for="UserNickname" class="form-control" />
            <span asp-validation-for="UserNickname" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="RolId" class="control-label">Roles</label>
            <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
            <span asp-validation-for="RolId" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="UserPassword" class="control-label">Password</label>
            <input asp-for="UserPassword" type="password" class="form-control" />
            <span asp-validation-for="UserPassword" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="UserStatus" class="control-label">Estatus</label>          
            <select asp-for="UserStatus" class="form-control">
                <option value="True">ACTIVO</option>
                <option value="False">INACTIVO</option>
            </select>
            <span asp-validation-for="UserStatus" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Cancelar</a>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
