@model ESFE.BusinessLogic.DTOs.CreateProductRequest

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Crear Producto</h4>
<hr />

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="BrandId" class="control-label">Marca</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="SupplierName" class="control-label">Proveedor</label>
            <input asp-for="SupplierName" class="form-control" />
            <span asp-validation-for="SupplierName" class="text-danger"></span>
        </div>
        <div class="form-group col-2">
            <label asp-for="ProductCode" class="control-label">Código</label>
            <input asp-for="ProductCode" class="form-control" />
            <span asp-validation-for="ProductCode" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="ProductName" class="control-label">Nombre</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for="ProductDescription" class="control-label">Descripcion</label>
            <input asp-for="ProductDescription" class="form-control" />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>

        <div class="form-group col-3">
            <label asp-for="PriceUnitPurchase" class="control-label">Precio Compra</label>
            <input asp-for="PriceUnitPurchase" class="form-control" />
            <span asp-validation-for="PriceUnitPurchase" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="PriceUnitSale" class="control-label">Precio Unitario</label>
            <input asp-for="PriceUnitSale" class="form-control" />
            <span asp-validation-for="PriceUnitSale" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="Stock" class="control-label">Existencias</label>
            <input asp-for="Stock" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
        <div class="form-group form-check col-3">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ProductStatus" /> @Html.DisplayNameFor(model => model.ProductStatus)
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="file" class="control-label">Imagen</label>
            <input type="file" id="imageFile" name="file" class="form-control" />
        </div>
        <div class="col-6">
            <div id="preview" style="display: none;">
                <img id="imagePreview" src="#" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group mt-3">
            <input type="submit" value="Crear" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-info">Cancelar</a>
        </div>
    </div>

</form>
<script>
    document.getElementById('imageFile').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('preview');
        const imagePreview = document.getElementById('imagePreview');

        if (file) {
            const fileReader = new FileReader();

            fileReader.onload = function (e) {
                imagePreview.src = e.target.result;
                preview.style.display = 'block';
            };

            fileReader.readAsDataURL(file);
        } else {
            imagenPrevia.src = '#';
            preview.style.display = 'none';
        }
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
       
    }
}
